<?xml version="1.0"?>
<launch>

  <arg name="generator_config_path" default="$(find pickplace_bridge)/config/serialGenConfig.yaml"/>
  <arg name="actuator_config_path"  default="$(find pickplace_bridge)/config/serialPPConfig.yaml"/>
  <arg name="move_group_config_path"  default="$(find pickplace_bridge)/config/serialPPMoveGroupConfig.yaml"/>

  <node pkg="pickplace_bridge" type="pickplace_bridge" name="pickplace_bridge" output="screen">
     <param name="generator_config_path" type="str" value="$(arg generator_config_path)"/>
     <param name="actuator_config_path" type="str" value="$(arg actuator_config_path)"/>
     <param name="move_group_config_path" type="str" value="$(arg move_group_config_path)"/>
  </node>

  <!-- launch-prefix="gnome-terminal -e" -->
  <arg name="move_group"  default="arm0" />
  <arg name="openGripper1"  default="/UR52/openGripper" />
  <arg name="closeGripper1"  default="/UR52/closeGripper" />
  <node name="serial_gripper" pkg="gripper_bridge" type="serial_gripper.py"  output="screen">
    <param name="move_group" type="str" value="$(arg move_group)" />
    <param name="open_server" type="str" value="$(arg openGripper1)" />
    <param name="closeGripper" type="str" value="$(arg closeGripper1)" />
  </node>	

</launch>
